@font-face {
  src: url('./AvenirNextCyr-Bold.ttf') format('truetype');
  font-family: 'Avenir Next Bold';
}

@font-face {
  src: url('./AvenirNextCyr-Heavy.ttf') format('truetype');
  font-family: 'Avenir Next Heavy';
}
