@font-face {
    font-family: "Avenir Next Bold";
    src: url("./AvenirNextCyr-Bold.ttf") format("ttf");
  }
  
  @font-face {
    font-family: "Avenir Next Heavy";
    src: url("./AvenirNextCyr-Heavy.ttf") format("ttf");
  }
  