@font-face {
  font-family: "Pretendard-Black";
  src: url("./Pretendard-Black.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url("./Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("./Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("./Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Light";
  src: url("./Pretendard-Light.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("./Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("./Pretendard-Thin.woff") format("woff");
}